nav a:hover{
    background: #808a226c;
    transition: 0.5s;
    border-radius: 20px;
    font-size: 31px;
    padding: 17px;


}
nav a{
    border: 2px solid #808a2200;


    border-radius: 30px;
    background: none;
    transition: 0.5s
}
