*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
html, body{
    display: flex;
    flex-direction: column;
    width: 100%;
    

}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}
section{
    padding: 30px 90px;
}
a{cursor: pointer;}


.flex{display: flex;}
.col{flex-direction: column;}
.aic{align-items: center;}
