:root{scroll-behavior: smooth;}
.section2 {
    padding: 20px 50px;
}
.sticky{
    /* border: 1px solid black; */
    position: sticky;
    top: 0;
    left: 0;
    
}
.section2 ul h3{
    padding:10px 0;
    font-size: 30px;
}
.section2 .text a{
    font-size: 25px;
    color: black;
    text-decoration: none;
    transition: 0.3s;

}
.onTop{
    background: #acb83b75;
    width: 110px;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}
.onTop>a{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
}
.onTop:hover{
    background: #acb83b;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    border-radius: 9px;
    transition: 0.3s;
}
.section2 .text a:hover{
    transition: 0.3s;
    color: rgb(49, 139, 241);
    text-decoration: underline;

}
.section2 .text {
    padding: 10px 0;
}

/* //////// */
.section3 {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 5% 100%;
    /* grid: 0.5fr 1.5fr / 1fr ; */
    padding: 20px 100px;
}
.section3 .mainblock{
    grid-column:2,3;
    grid-row:1,3;
}

.section3 .block1 h3{
    padding: 50px 0 0 0;
    font-size: 25px;
}
.section3 .block2{
    flex-wrap: wrap;
    max-width: 1000px;
    
}

.section3 .block4{
    padding: 10px 30px ;
    justify-content: space-evenly;
}

.section3 h4{
    font-size: 23px;
}

.section3 .li{
    font-size: 20px;
    margin: 10px;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    /* background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(236, 236, 236, 0) 100%); */
    color: #2c0303;
    text-align: left;
    text-decoration: none;


}
.section3 .li .price{
    white-space: nowrap;
}


.section3 .li img{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    margin: 30px;
    width: 150px;
    filter: drop-shadow(10px 10px 10px rgba(5, 13, 29, 0.322));
    transition: 0.5s;

} 