@media (max-width: 500px) {


    nav{
        flex-direction: column;
        padding: 10px;
    }
    nav a{
        font-size: 20px;
    }
    nav a:hover{
        font-size: 21px;
    }
/* SLIDER */
.section2 .arrows img{
    width: 50px;
    transition: 0.5s;
    margin:20px 50px 10px 0;
    opacity: 50%;
}
.section2 .arrows img:hover{
    width: 55px;
    margin:20px 50px 4px 0;
    transition: 0.5s;
    opacity: 70%;

}
.arrows{
    padding: 10px  20px ;
}
/* ................. */
.section2 .slider img{
    width: 150px;
    margin: 30px 40px;
    cursor: pointer;
}
.section2 .slider {
    justify-content: space-evenly;
}
.section2 h2{
    font-weight:normal;
    font-size: 40px;
    padding: 50px 10px 10px 20px ;
}
/* ///////// */
    .section3 img{
        max-width: 300px;

    }
    .section3 .block1, .section3 .block2{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .section3 p{
        line-height: 20px;
        max-width: 300px;
        font-size: 16px;
        text-align: center;
    }
/* //////// */
    .section4 .block4 .img{
        max-width: 350px;
        height: 150px;
    }
    .section4 .text{display: none;}
    .section4 .hidden{
        display: block;
        font-size: 15px;
    }
    .section4 .block4{
        flex-direction: column;

    }
    /* .section7 .block1 {
        align-items: center;
    } */

/* ///////////            !!!!!!!!!!! скрыто в цлях переформирования*/ 
    .section6{
        display: none;
    }
/* /////////// */
    .section7 .img{
        max-width: 300px;
        max-height: 200px;
    }
    .section7 .block2:last-child{
        flex-direction: column-reverse;

    }
    .section7{
        padding: 0;
        margin: 0;
    }
    .section7 .block2{
        padding:20px 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .section7 .block2 p{
        max-width: 300px;
        margin: 10px 20px;
        font-size: 15px;
        text-align: center;
    }
/* /////// */
footer .block1{
    flex-direction: column;
}
}