*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    /* border: 1px rgb(0, 0, 0) solid; */
   
}

html, body,main{ width: 100%; height: 100%;}

.j-c{justify-content: center;}
.flex{display: flex;}
.col{flex-direction: column;}
.center{align-items: center;}
.t-center{text-align: center;}

.m-b-15{margin-bottom: 15px;}
.m-b-5{margin-bottom: 5px;}
form h1{color: rgb(38, 101, 201);}
form input{
    border-radius: 15px;
    height: 45px;
    width: 360px;
    font-size: 20px;
    border: rgb(95, 145, 224) solid;
    padding: 10px;
}
.submit{
    background:rgb(95, 145, 224);
    border: rgb(95, 145, 224) solid;
    color: white;
}