*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;   
}

html, body{
    height: 100%;
    width: 100%;
}
.flex{display: flex;}
.col{flex-direction: column;}
.jc-c{justify-content: center;}
.jc-b{justify-content: space-between;}
